{% extends 'base.html' %}
{% load static %} 

{% block title %}Menu Items{% endblock %}

{% block content %}
<div>
    <h2>Menu Items</h2>
    <table class="ingredient-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            <tr>
                <td>
                    <a href="{% url 'menu_items_update' item.id %}">{{ item.title }}</a>
                </td>
                <td>
                    ${{ item.price }}
                </td>
                <td>
                    <a href="{% url 'menu_items_update' item.id %}" style="text-decoration: none; color: inherit;">✏️</a>
                    <a href="{% url 'menu_items_delete' item.id %}" style="text-decoration: none; color: inherit;">❌</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'menu_items_create' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕ Create New Menu Item</a>
</div>
{% endblock %}
