<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'ingredients' %}">Ingredients</a></li>
                <li><a href="{% url 'purchases' %}">Purchases</a></li>
                <li><a href="{% url 'recipe_requirments' %}">Recipe Requirements</a></li>
                <li><a href="{% url 'menu_items' %}">Menu Items</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
